build
node_modules

*.log
logs
npm-debug.log*
prisma/client
.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.git
.gitignore

docker-compose.yml
.dockerignore

test
tests
__tests__
coverage
*.spec.js
*.test.js

.vscode
.idea
*.swp
